h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

td, th {
    text-align: center;
}

button {
    margin-left: 10px;
}

.caution {
    display: block;
    color: red;
    margin: 5px 10px;
}