<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Conference Room Reservation Status</h1>
            <form>
                <div class="form-group">
                    <label>예약 조회 일자</label>
                    <div class="form-inline">
                        <div class="col-sm-4 input-group date" id="datepicker">
                            <!--조회일자-->
                            <input type="text" class="form-control" id="date" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="col-sm-2 input-group">
                            <!--예약조회-->
                            <button type="button" class="btn btn-primary center-block" id="get-reserve-btn">예약조회</button>
                        </div>
                        <div class="col-sm-2 input-group">
                            <!--예약하기-->
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/'">예약하기</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table table-bordered" id="timetable"></table>
        </div>
    </div>
    <div id="show-reservation"></div>
</div>


<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/moment.js"></script>
<script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/reservation.js"></script>
</body>
</html>